.field{
  input.input{
    background-color: transparent;
    border: 0px solid #FFF;
    border-radius: 0;
    border-bottom: 1px solid #FFF;
    color: #FFF;
    &::placeholder {
      color: rgb(255, 255, 255);
      opacity: 0.3;
    }
    &:focus{
      border-color: $primary
    }
  }
  textarea.textarea{
    background-color: transparent;
    border: 1px solid rgba(226, 226, 226, 0.158);
    border-radius: 0;
    border-bottom: 1px solid #FFF;
    color: #FFF;
    resize: none;
    &::placeholder {
      color: rgb(255, 255, 255);
      opacity: 0.3;
    }
    &:focus{
      border-bottom-color: $primary
    }
  }
}

.card .card-content .field {
  .control input.input{
    background-color: #f5f5f5;
    border-bottom: 1px solid #6e6e6e;
    border-left: 5px solid #6e6e6e;
    border-top-right-radius: 3px;
    color: #000;
    &::placeholder {
      color: #000;
      opacity: 0.3;
    }
    &:focus{
      border-color: $primary
    }
  }
  .control textarea.textarea{
    background-color: #f5f5f5;
    border-bottom: 1px solid #6e6e6e;
    border-left: 5px solid #6e6e6e;
    border-top-right-radius: 3px;
    color: #000;
    &::placeholder {
      color: #000;
      opacity: 0.3;
    }
    &:focus{
      border-color: $primary
    }
  }
}