@mixin font-weight($weight) {
  font-weight: $weight !important;
}

// --------  
* {
  box-sizing: border-box;
}

body {
  // font-family: $family-sans-serif;
  background-color: #181d27;
  min-height: 100vh
}

.title {
  font-family: $family-title;
}


body.has-navbar-fixed-top, html.has-navbar-fixed-top{
  padding-top: 3.25rem;
}

img.avatar {
  &.is-rounded {
    border-radius: 500px;
  }
}

// .is-wood-one {
//   background-image: url("./assets/img/wood-bg-01.jpg");
//   background-position: center center;
//   background-size: cover;
// }

.has-shadow {
  box-shadow: 5px 5px 8px 0px rgba(0, 0, 0, 0.4);
}

.is-fixed {
  background-attachment: fixed;
  @include until($tablet) {
    background-attachment: scroll;
    background-size: contain;
    background-repeat: repeat-y
  }
}

.is-rounded{
  border-radius: 1000px;
}

button {
  font-family: $family-sans-serif;
}

img.is-centered {
  margin: 0 auto;
}

@for $i from 1 through 9 {
  .is-#{100 * $i} {
    @include font-weight(100 * $i, ) 
  }
}

.add-br{
  white-space: pre-wrap;
}

.modal-card {
  color: #000;
}

.cn-back-home {
  position: fixed;
  left: 12px;
  top: 12px;
  width: 27px;
  z-index: 20;
}